<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='classic__theme.css') }}">
    <title>OnlineCompiler</title>
</head>
<body>
    <div class="wrapper">
        <div class="wrapper__input"></div>
        <div class="wrapper__output">
            <div class="output__inner"></div>
            <!-- <input type="submit" value="GREEN" id="inner__start">
            <input type="submit" value="RED" id="inner__idk"> -->
        </div>
    </div>
</body>
</html>